<% provide(:title, 'Agency') %>


<div class="container-fluid">
	<div class="contentful">
			<div class="row">
				<div id="firstbox" class="col-xs-12 col-sm-6 col-md-8">
					<h1> @gency <h1>
					<hr class="underline">
					<h2>Human-centered design & development</h2>
	<ul class"list-group">
		<hr class="colorgraph">

	<li class="list-group-item">works globally</li>
	<li class="list-group-item">embraces #designthinking</li>
	<li class="list-group-item">designs for people, not mediums</li>
	<li class="list-group-item">knows 'what' is as important as 'how'</li>
	<li class="list-group-item">follows lean principles</li>
	<li class="list-group-item">validates everything</li>



</ul>




</p>
