<% provide(:title, 'Collaborate') %>

  <div class="container-fluid">
	<div class="contentful">
			<div class="row">
				<div id="firstbox" class="col-xs-12 col-sm-6 col-md-8">
					<h1> Collaboration <h1>
					<hr class="underline">
					<h2>An open invitation to progress, together.</h2>
				</div>
			</div>
		</div>
	</div>
	