<% provide(:title, 'Contact') %>

  <div class="container">
	<div class="contentful">

		<h1> Contact Information</h1>
		<hr class="underline">
					<h2></h2>
<div id="firstbox" class="col-md-7">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3621.8117320054207!2d67.02760855040636!3d24.801899453632423!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3eb33d0976a7d8f3%3A0x12a0025eca52b849!2sDolmen+Executive+Tower%2C+Sea+View+Rd%2C+Karachi%2C+Pakistan!5e0!3m2!1sen!2s!4v1483311109669" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

</div>

<div class="col-md-5">

<p class="attn"> Catalyst Interactive </p>

	<address>
				<strong>Karachi, Pakistan</strong><br>
				7th Floor, Dolmen Executive Tower<br>
				Sea View Road<br>
				Karachi, Pakistan 75500<br>
				<abbr title="Phone">P:</abbr> +922135202686<br>
  				<abbr title="Email">E:</abbr> <%= mail_to "contact@catalyst.consulting", "contact@catalyst.consulting", subject: "Inquiry"%> 
				</address>
				<br>
					<strong>Dubai, U.A.E</strong><br>
				Launching Q4 2017<br>
				
				<abbr title="Phone">P:</abbr> <br>
  				<abbr title="Email">E:</abbr> <%= mail_to "contact@catalyst.consulting", "info@catalyst.consulting", subject: "Inquiry"%> 
				</address>

</div>

</div>
				
</div>

