<% provide(:title, 'Data') %>

<div class="container">
	<div class="contentful">
		<div class="row">
			<div id="firstbox" class="col-md-9">
				<h1> Data Science </h1>
				<hr class="underline">
				<h2>The journey from data to actionable intelligence</h2>

				<p> We're in the process of expanding our data services to include scrubbing, statistical inference and machine learning. Please <%= mail_to "datascience@16circles.com", "contact us", subject: "Data Science Inquiry"%> to schedule a phone consultation for your data requirements.</p>

			</div> <!-- firstbox -->

			<div id="secondbox" class="col-md-3">
				<div class="resources">
					<div class="dl">
						<h5> Downloads </h5>
						
					</div> <!-- dl -->

					<div class="Contact">
						<h5> Contact: </h5>
				 		<%= mail_to "datascience@16circles.com" %> 
					</div> <!-- contact -->

					<div class="socializer" id="propagate">
						<h5> Share </h5>
						<div class="social">
							<%= link_to (image_tag("facebook.png", :alt => "Share on Facebook", size: "35x35", :class => "socialfilt")), "https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.16circles.com%2Fdata%2F/", :target => "_blank"  %>
					
							<%= link_to (image_tag("twitter.png", :alt => "Share on Twitter", size: "35x35", :class => "socialfilt")), "https://twitter.com/intent/tweet?url=http%3A%2F%2Fwww.16circles.com%2Fdata%2F&via=16circles&text=Take%20a%20look%0A", :target => "_blank" %>

						</div> <!-- social -->
					</div> <!-- socializer -->
				</div> <!-- resources -->
			</div> <!-- secondbox -->
		</div> <!-- row -->
	</div> <!-- contentful -->
</div> <!-- container-fluid -->

