<% provide(:title, 'Home') %>


<div class="jumbotron">
	
      <h1>We're Updating</h1>
        <p class="lead">We refresh our site every so often. This usually occurs at off peak times (read: when we're not flooded with work). If you're an existing client, your login portal and credentials will work as usual. If you're just browsing, we apologize for the downtime, and promise to return shortly!</p>

 
</div>