<% provide(:title, 'Home') %>


<div class="center hero-unit">
	
<h1>Leverage</h1>
<p>Find me in app/views/mast_head/home.html.erb</p>
 <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>