<% provide(:title, 'Home') %>

<div class="carousel-inner">
    <div class="item active">

      <%= image_tag("SS.jpg") %>
      <div class="carousel-caption">
        <h2>SafeStreets - Pakistan</h2>
  <h4>Open call for prospective user feedback<h4>
  <h5>Join us in developing a platform for citizen safety<h5>
    <a class="btn btn-success" href="<%= '/urban' %>" role="button">View details.</a>
</div>
</div>

<!-- <div class="jumbotron">

<div class="container">
	<h2>All business is digital.</h2>
	<h4>Where does the transforming world leave your business?<h4>
	<h5>See how perspective can lead the change<h5><%= link_to "Discover", '#', class: "btn btn-default btn-info" %>
</div> -->
</div>

</div>
	