<% provide(:title, 'Home') %>

<div class="jumbotron">

<div class="container">
	<h2>All business is digital.</h2>
	<h4>Where does the transforming world leave your business?<h4>
	<h5>See how perspective can lead the change<h5><%= link_to "Discover", '#', class: "btn btn-default btn-info" %>
</div>
</div>
<div class="container">
<div class="row">
  <div class="col-md-8">
  	<h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>

  </div>

  <div class="col-md-4">
            <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
          </div>
</div>
	