<% provide(:title, 'SafeStreets') %>

<body>
	<div class="container-fluid">
	<div class="contentful">
			<div class="row">
				<div id="firstbox" class="col-md-8">
				<h1> SafeStreets <h1>
					<hr class="underline">
					<h2>A portal to a smarter, safer city.</h2>

					<p> Pakistan is a deeply fragmented country struggling to cope with internal and external stressors. The manifestation of these circumstances is more evident in the major cities. Karachi, the 7th largest city in the world - by population - has been labeled the most dangerous megacity in the world<br><br>

					Our current experiment is premised on collaboration and knowledge. Safestreets is envisioned as a virtual, cloud based, citizen portal to enable residents to monitor the pulse of the city, and also plan, organize, develop and distribute constructive tasks which should result in a more stable and secure environment. The prototype will be an app which will expand on its core functionality incrementally with plans to launch adjunct initiatives concurrently. <br><br> Make yourself, your family, your friends and your city safer.</p>

					<a class="btn btn-default btn-info" <%= link_to "Take the Survey (4 minutes)", "https://docs.google.com/forms/d/1W1amIGpGIttZiA6yDTaGG6ScgaRu9AEBECSyYhStxCc/viewform?usp=send_form", :target => "_blank" %> </a>
					</div>



				<div id="secondbox" class="col-md-4">
						<h4> Share </h4>
						<div class="fb-share-button" data-href="http://www.16circles.com/safestreets" data-width="45" data-type="icon"></div> <br>

						<%= link_to(image_tag("social19.png", :alt => "Tweet", size: "45x45", :class => "twittersh", :target => "_blank"), "https://twitter.com/share") %>
						</div>
						</div>

				</body>

<!-- <div id="fb-root"></div> -->
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>






