<% provide(:title, 'Social') %>


  <div class="container">
	<div class="contentful">
		<div class="row">
			<div id="firstbox" class="col-md-9">
				<h1> Soc!al </h1>
				<hr class="underline">
				<h2>24/7/365 services to craft, guide and influence the conversation</h2>
					<p> In the time it takes to read this, hundreds of your customers could have thousands of touch points with your brand. They could contact you electronically, interact with your products, experience your services, view your communication material, form an opinion, partake in a conversation, become lifelong loyal customers, or pledge their allegiance to your closest competitor. And all this without you even knowing about it. </p>

					<p> If the 1990's propelled customer service to higher levels by allowing corporate-to-consumer dialogue using IP-based call centers, then social media has catapulted expectations and capabilities to stratospheric levels. The conversation is around you, 24/7, across multiple time zones, ethnicities, languages and cultures. Monitoring and guiding that conversation is imperative as it impacts business functions ranging from public relations to customer service, and ultimately perceived brand value.</p>

					<p>Social media has been a game changer in many ways. It has enabled person-to-person, mobile, instantaneous communication, but also for serves as a conduit to consumers on a documented, time-stamped, public forum. It's emergence has largely coincided with the mobile movement, which allows brands to still target and engage their customers in two-way, personalized dialogue. Your social media management is an intrinsic part of your communication strategy and customer experience. All social media engagements are preceded by a research phase which distills the essence of your communication intent and subsequently becomes the blueprint for your social strategy’s conceptualization and design.
					We manage conversations for clients using a hybrid toolkit which includes proprietary, open source and internally developed applications. Our current offerings include formulating social and service strategies, customer management toolkits, escalation procedures, media monitoring and sub-120 minute guaranteed responses. </p>

					<p> <%= mail_to "social@16circles.com", "Get in touch", subject: "Social Strategies & Services"  %> to raise the bar for customer service in your industry.

				</div>	<!-- FirstBox -->
		
			<div id="secondbox" class="col-md-3">
				<div class="resources">
					<div class="dl">
					<h5> Downloads </h5>
					
				</div>
				<div class="Contact">
					<h5> Contact: </h5>
				 	<%= mail_to "social@16circles.com" %> 
				</div>
				<div class="socializer" id="propagate">
					<h5> Share </h5>
					<div class="social">
						<%=link_to (image_tag("facebook.png", :alt => "Share on Facebook", size: "35x35", :class => "socialfilt")), "https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.16circles.com%2Fsocial%2F/", :target => "_blank"  %>
			
						<%= link_to (image_tag("twitter.png", :alt => "Share on Twitter", size: "35x35", :class => "socialfilt")), "https://twitter.com/intent/tweet?url=http%3A%2F%2Fwww.16circles.com%2Fsocial%2F&via=16circles&text=Take%20a%20look%0A", :target => "_blank" %>

						
					</div> <!--Social-->
				</div><!--Socializer-->
			</div><!--Resources-->
		</div><!--SecondBox-->
	</div><!--Row-->
</div><!--Contentful-->
</div><!--Container-Fluid-->

