<% provide(:title, 'Social') %>


<div class="container-fluid">
	<div class="contentful">
			<div class="row">
				<div id="firstbox" class="col-xs-12 col-sm-6 col-md-8">
					<h1> Soc!al <h1>
					<hr class="underline">
					<h2>24/7/365 services to craft, guide and influence the conversation</h2>