<% provide(:title, 'Strategy') %>

  <div class="container">
	<div class="contentful">
			<div class="row">
				<div id="firstbox" class="col-md-9">
					<h1> Strategy </h1>
					<hr class="underline">
					<h2>Futureproofing with digital, data & perspective.</h2>

					<p> The foundation for the future is being forged by the rise of the age of data. AI, machine learning, augmented reality, cryptocurrencies, distributed systems, urbanization, the divergence of the internet into anonymous and public connectivity are all current and emerging factors which will continue to shape how we live, work and communicate. Most organizations are engaged in a technology-led transformation exercise, to retain relevance and to cope with the ongoing metamorphosis which will impact their business in multiple, unprecedented ways.Amidst such volatility, digital has proven to be the methodology of choice to bind transitions as it is cheaper, quicker, more reliable and capable of revealing revelatory connections between abstract components. From revamping communication efforts for Fortune 1000 companies to developing technology for transaction-less retail stores of the future, to e-governance initiatives, we use strategy borne of perspective and analysis to conceptualize, design and implement plans of varying magnitude, which manage existing scenarios, shape future products, develop markets, attract and retain customers, and augment omni-directional, interactive communication efforts </p>

					<p> In the face of commodification of technology from the physical layer upwards, the importance of innovation becomes even more apparent as it remains the only true differentiating factor and sustainable competitive advantage. Yet innovation itself is a byproduct of strategy. How will organizations cope without an innovation roadmap when growth stagnates, markets saturate, ubiquity prevails or challengers emerge? </p>

			

					<p> </p>

				</div>	<!-- FirstBox -->

				<div id="secondbox" class="col-md-3">
					<div class="resources">
						<div class="dl">
						<h6> Downloads </h6>
						
						</div>
					<div class="Contact">
						<h6> Contact: </h6>
				 		<%= mail_to "strategy@catalyst.consulting" %> 
					</div>
					<div class="socializer" id="propagate">
						<h6> Share </h6>
						<div class="social">
						<%=link_to (image_tag("facebook.png", :alt => "Share on Facebook", size: "25x25", :class => "socialfilt")), "https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.16circles.com%2Fstrategy%2F/", :target => "_blank"  %>
			
						<%= link_to (image_tag("twitter.png", :alt => "Share on Twitter", size: "25x25", :class => "socialfilt")), "https://twitter.com/intent/tweet?url=http%3A%2F%2Fwww.16circles.com%2Fstrategy%2F&via=16circles&text=Take%20a%20look%0A", :target => "_blank" %>

						</div> <!--Social-->
				</div><!--Socializer-->
			</div><!--Resources-->
		</div><!--SecondBox-->
	</div><!--Row-->
</div><!--Contentful-->
</div><!--Container-Fluid-->