<% provide(:title, 'Strategy') %>


<div class="container-fluid">
	<div class="contentful">
			<div class="row">
				<div id="firstbox" class="col-xs-12 col-sm-6 col-md-8">
					<h1> Strategy <h1>
					<hr class="underline">
					<h2>Futureproofing with digital, data & perspective.</h2>