<% provide(:title, 'Technology') %>

  <div class="container">
	<div class="contentful">
			<div class="row">
				<div id="firstbox" class="col-md-9">
					<h1> Technology </h1>
					<hr class="underline">
					<h2>The interactive game-changer.</h2>

					<p>  </p>

					<p> </p>

					<p> </p>

					<p> </p>

				</div>	<!-- FirstBox -->

				<div id="secondbox" class="col-md-3">
					<div class="resources">
						<div class="dl">
						<h5> Downloads </h5>
						
						</div>
					<div class="Contact">
						<h5> Contact: </h5>
				 		<%= mail_to "info@16circles.com" %> 
					</div>
					<div class="socializer" id="propagate">
						<h5> Share </h5>
						<div class="social">
						<%=link_to (image_tag("facebook.png", :alt => "Share on Facebook", size: "35x35", :class => "socialfilt")), "https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.16circles.com%2Fstrategy%2F/", :target => "_blank"  %>
			
						<%= link_to (image_tag("twitter.png", :alt => "Share on Twitter", size: "35x35", :class => "socialfilt")), "https://twitter.com/intent/tweet?url=http%3A%2F%2Fwww.16circles.com%2Fstrategy%2F&via=16circles&text=Take%20a%20look%0A", :target => "_blank" %>

						</div> <!--Social-->
				</div><!--Socializer-->
			</div><!--Resources-->
		</div><!--SecondBox-->
	</div><!--Row-->
</div><!--Contentful-->
</div><!--Container-Fluid-->