<% provide(:title, '#Urban') %>

  <div class="container-fluid">
	<div class="contentful">
			<div class="row">
				<div id="firstbox" class="col-xs-12 col-sm-6 col-md-8">
					<h1> #Urban <h1>
					<hr class="underline">
					<h2>Products, projects & processes for the cities of tomorrow.</h2>

					<p> The role of technology in urban planning and inhabitation. <br><br>

						The disparities between developed countries and developing economies. 

						In developing countries, the focus is on buidling: infrastructure, security, planning, manufacturing and social enterprise.

						In developed countries the focus is on organization, the focus is on content creation, privacy and curation


						<%= link_to "Safestreets", '/SafeStreets' %><br><br>




						Future thinking: Quadrant thinking to compete for citizens


					</p>
				</div>
			</div>
		</div>
	</div>
