<% provide(:title, '#Urban') %>

<div class="container-fluid">
	<div class="contentful">
			<div class="row">
				<div id="firstbox" class="col-xs-12 col-sm-6 col-md-8">
					<h1> #Urban <h1>
					<hr class="underline">
					<h2>Products, projects & processes for the cities of tomorrow.</h2>

					<p> <%= link_to "Safestreets", '/SafeStreets' %><br><br>