<% provide(:title, '#Urban') %>



<h1>Technology will be at the center of Urban life</h1>
<p>
	How do we bring startup thinking to urban inhabitation organization, facilitation, acclimation, mobility and management? </p>

	<div class="row">
        <div class="col-md-3">.col-md-3</div>
        <div class="col-md-6">.col-md-6</div>
        <div class="col-md-3">.col-md-3</div>
      </div>
