<% provide(:title, 'Collaboration') %>

  <div class="container-fluid">
	<div class="contentful">
			<div class="row">
			<ul class="col-list">
  <% @collaborations.each do |col| %>
    <li>
      <%= link_to collaboration.name, col %>
    </li>
  <% end %>
</ul>/
			</div>
		</div>
	</div>
		