@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Lato:100|Open+Sans:300);

/* universal */

html {
  overflow-y: scroll;
}

body {

  padding-top: 00px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
  }

  /* header */

.logo2 {
  float: left;
  margin-left: 10px;
  font-family: 'open sans', serif;
  font-size: 24px;
  font-weight: bold;
  color: #B2B2B2;

  letter-spacing: 3px;
  padding-top: 15px; 
  line-height: 1;
}

.logo2:hover {
  color: #B2B;
  text-decoration: none;
  border-bottom: 4px solid #c7c;
}

/* Body */

.carousel-caption {
  color: #fff;
  text-align: left;
}



/*  signup form */

.formario {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  font-family: lato,sans-serif;
  font-weight: 100;
  color: #737373;
}

.formarion{
  width: auto;
  font-family: lato,sans-serif;
  font-weight: 100;
  font-size: 24;
  color: #737373;
  margin-bottom: 0px;
}

.boxy {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  margin-bottom: 5px;
}


/* Layout */

.container {
height: auto;
}

.row {
  z-index: 100000;
  background-color: #fff;
}

.colorgraph {
  height: 5px;
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.grade {
  height: 2px;
  background-image: linear-gradient(to right, #03d7e6, #f4d900);
  padding-left: 15px;
}

.jumbotron {
background-color: #e6e6e6;
margin: 0px 0;
text-align: center;
padding-bottom: 50px;

}

      .jumbotron h1 {
        font-size: 100px;
        line-height: 1;
      }
      .jumbotron .lead {
        font-size: 24px;
        line-height: 1.25;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

/* Iphone Screen Size to 767 pixels */  

@media (max-width: 767px) {
.navbar-brand {
 display: none;
  }

.logo2 {
  display: inherit;
}

.carousel-inner {
  position: auto;
  }


}

/* Ipad or Larger Screen Size */

@media (min-width: 768px) {
.navbar-brand {   
  overflow: visible;
  padding-top: 0;
  padding-bottom: 0;
  z-index: 1;
}

.logo2 {
  display: none;

}
}

.navbar {
  z-index: 10000;
  background-color: #fff;
  border: none;
}

.navbar-inner .nav > li > a {
  color: #00b3b7;
  font-weight: bold;
  font-size: 16px;
  font-family: open-sans-light;
}

.contentful {
  padding-top: 120px;
  padding-left: 15px;
}

.contentful h1 {
  width: auto;
  font-family: 'Open Sans',sans-serif;
  font-weight: 300;
  letter-spacing: -2px;
  color: #bdbdbd;
  font-size: 50px;
  margin-bottom: -20px;

}

.contentful h2 {
  width: auto;
  font-family: lato,sans-serif;
  font-weight: 100;
  font-size: 36;
  color: #737373;
}

.contentful h2 + p {
  width: auto;
  padding-top: 10px;
  font-size: 18px;
  font-family: lato,sans-serif;
  font-weight: 300;
  color: #000000;
}

#contentful, #firstbox {
  position: relative;
}

#contentful, #secondbox {
  max-height: none;
  padding-top: 60px;
  width: auto;
  font-family: lato,sans-serif;
  font-weight: 100;
  font-size: 18px;
  color: #ffa500;
}


.twittersh {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

.twittersh:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}

.fb-share-button {
  size: 200px;
}

/*

.navbar {

  background-color: transparent;
  background: transparent;

    }

/*

.navbar-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;
      margin-top: 20px;
      margin-bottom: -50px; 
    }


   /* .navbar-wrapper .navbar {


    }

    .navbar .navbar-inner {
      border: 0;
      -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
         -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
              box-shadow: 0 2px 10px rgba(0,0,0,.25);
    }



    .navbar .nav > li > a {
      padding: 15px 20px;
    }

    .navbar .btn-navbar {
      margin-top: 10px;
    }
*/

/* 

footer {

  width: inherit;
  margin-top: 145px;
  padding-top: 5px;
  border-top: 1px solid #ffffff;

  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}
    */
      

