
<footer class="footer">
  <div class="container-fluid">

		<div class="row">
			<div id="copyright" class="col-md-3">
				<small>
   				© Catalyst Interactive. All Rights Reserved.
  				</small>
			</div> <!-- copyright -->
			
	
  		</div> <!-- row -->
    </div>
</footer>
