
<footer class="footer">
	<hr class="grade">
  <div class="copyright"
  <small>
   Copyright 16 Circles. All Rights Reserved.
  </small>
</div>
 <div class="pull-right">
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Faq's",  '#' %></li>
    </ul>
  </div>
</footer>