
<footer class="footer">
	<hr class="grade">
		<div class="row">
			<div id="copyright" class="col-md-3">
				<small>
   				Copyright 16 Circles. All Rights Reserved.
  				</small>
			</div> <!-- copyright -->
			
			<div id="links" class="pull-right">
    				<small> This website is being developed <%= link_to "iteratively", "http://en.wikipedia.org/wiki/Iterative_and_incremental_development", :target => "_blank" %>. Please <%= mail_to "info@16circles.com", "contact us", subject: "Bug Report"%> if an area of interest is inaccessible.</small>

  			</div> <!-- links --> 
  		</div> <!-- row -->
</footer>

    
        <!-- <ul>
              <li><%= link_to "About",   '#' %></li>
              <li><%= link_to "Faq's",  '#' %></li>
            </ul> -->