<footer class="footer">
	<hr class="grade">
 <!--  <div class="copyright"
  <small>
   Copyright 16 Circles. All Rights Reserved.
  </small>
</div> -->
 <div class="pull-right">
    <ul>
      <li><%= link_to "Around the corner",   '#' %></li>
      <li><%= link_to "About", about_path %></li>
    </ul>
  </div>
</footer>